{
  "openapi": "3.1.0",
  "info": {
    "title": "Meseji",
    "description": "The Meseji API For Service Providers allows developers to integrate WhatsApp messaging capabilities into their applications. With this API, you can send and receive WhatsApp messages, manage contacts, and utilize various messaging features offered by WhatsApp Business. This documentation provides detailed information on the available endpoints, request/response formats, authentication methods, and usage guidelines to help developers effectively use the Meseji API for Service Providers in their applications.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "tags": [{ "name": "developer-apis", "description": "" }],
  "servers": [{ "url": "https://api.meseji.app", "description": "Production" }],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": ["id"],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
