{
  "openapi": "3.1.0",
  "info": {
    "title": "Meseji WhatsApp API",
    "description": "The Meseji API For Service Providers allows developers to integrate WhatsApp messaging capabilities into their applications. With this API, you can send and receive WhatsApp messages, manage contacts, and utilize various messaging features offered by WhatsApp Business. This documentation provides detailed information on the available endpoints, request/response formats, authentication methods, and usage guidelines to help developers effectively use the Meseji API for Service Providers in their applications.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "tags": [{ "name": "developer-apis", "description": "" }],
  "servers": [{ "url": "https://api.meseji.app", "description": "Production" }],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/whatsapp/templates": {
      "get": {
        "description": "Fetches all WhatsApp templates linked to the authenticated user’s WhatsApp Business Account.",
        "operationId": "DeveloperApisController_getAllTemplates_v1",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Templates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": true,
                    "message": "Templates fetched successfully",
                    "data": [
                      {
                        "id": "123456789012345",
                        "name": "first_template",
                        "language": "en_US",
                        "status": "APPROVED",
                        "category": "MARKETING"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing configuration",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "Access token not configured for this account"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized due to invalid or missing Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "statusCode": 401,
                    "message": "Unauthorized: Invalid or expired token",
                    "error": "Unauthorized"
                  }
                }
              }
            }
          },
          "404": {
            "description": "WhatsApp onboarding not found for this user",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "WhatsApp onboarding not found for this user"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "Failed to fetch templates due to an unexpected error"
                  }
                }
              }
            }
          }
        },
        "security": [{ "bearer": [] }],
        "summary": "Retrieve all WhatsApp templates",
        "tags": ["developer-apis"]
      }
    },
    "/api/v1/whatsapp/templates/{name}/variables": {
      "get": {
        "description": "Fetches the variables (e.g., header, body, buttons) required for a specific WhatsApp template by its name.",
        "operationId": "DeveloperApisController_getTemplateVariables_v1",
        "parameters": [
          {
            "name": "name",
            "required": true,
            "in": "path",
            "description": "The name of the WhatsApp template (e.g., \"first_template\")",
            "schema": { "example": "first_template", "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Template variables retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": true,
                    "message": "Template variables fetched successfully",
                    "data": [
                      {
                        "label": "Header Image",
                        "keyName": "header_image",
                        "type": "IMAGE_URL"
                      },
                      {
                        "label": "Body 1",
                        "keyName": "body_1",
                        "type": "TEXT"
                      },
                      {
                        "label": "Button 1 Link",
                        "keyName": "button_1",
                        "type": "TEXT"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing configuration",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "Access token not configured for this account"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized due to invalid or missing Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "statusCode": 401,
                    "message": "Unauthorized: Invalid or expired token",
                    "error": "Unauthorized"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Onboarding not found",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "WhatsApp onboarding not found for this user"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "Internal server error: Unable to process request"
                  }
                }
              }
            }
          }
        },
        "security": [{ "bearer": [] }],
        "summary": "Retrieve variables for a specific WhatsApp template",
        "tags": ["developer-apis"]
      }
    },
    "/api/v1/whatsapp/messages/template": {
      "post": {
        "description": "Sends a WhatsApp template message using the specified template name and variables.",
        "operationId": "DeveloperApisController_sendSingleTemplate_v1",
        "parameters": [],
        "requestBody": {
          "required": true,
          "description": "Request body for sending a template message",
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "to": "recipient_phone_number",
                  "from": "sender_phone_number",
                  "language": "en_US",
                  "template_id": "first_template",
                  "variables": [
                    {
                      "keyName": "header_image",
                      "value": "https://example.com/image.jpg"
                    },
                    {
                      "keyName": "body_1",
                      "value": "Hello, this is a test message!"
                    },
                    { "keyName": "button_1", "value": "https://example.com" }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": true,
                    "message": "Message sent successfully"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing configuration",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "Access token not configured for this account"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized due to invalid or missing Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "statusCode": 401,
                    "message": "Unauthorized: Invalid or expired token",
                    "error": "Unauthorized"
                  }
                }
              }
            }
          },
          "404": {
            "description": "WhatsApp onboarding not found for this user",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "WhatsApp onboarding not found for this user"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "Failed to send message due to an unexpected error"
                  }
                }
              }
            }
          }
        },
        "security": [{ "bearer": [] }],
        "summary": "Send a WhatsApp template message",
        "tags": ["developer-apis"]
      }
    },
    "/api/v1/whatsapp/messages/text": {
      "post": {
        "description": "Sends a WhatsApp text message to the specified recipient.",
        "operationId": "DeveloperApisController_sendSingleMessage_v1",
        "parameters": [],
        "requestBody": {
          "required": true,
          "description": "Request body for sending a text message",
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "to": "recipient_phone_number",
                  "from": "sender_phone_number",
                  "text": "Hello, this is a test message!"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": true,
                    "message": "Message sent successfully"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing configuration",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "Access token not configured for this account"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized due to invalid or missing Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "statusCode": 401,
                    "message": "Unauthorized: Invalid or expired token",
                    "error": "Unauthorized"
                  }
                }
              }
            }
          },
          "404": {
            "description": "WhatsApp onboarding not found for this user",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "WhatsApp onboarding not found for this user"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "Failed to send message due to an unexpected error"
                  }
                }
              }
            }
          }
        },
        "security": [{ "bearer": [] }],
        "summary": "Send a WhatsApp text message",
        "tags": ["developer-apis"]
      }
    },
    "/api/v1/whatsapp/messages/image": {
      "post": {
        "description": "Sends a WhatsApp image message to the specified recipient.",
        "operationId": "DeveloperApisController_sendSingleMedia_v1",
        "parameters": [],
        "requestBody": {
          "required": true,
          "description": "Request body for sending an image message",
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "to": "recipient_phone_number",
                  "from": "sender_phone_number",
                  "image_url": "https://example.com/image.jpg",
                  "caption": "Optional caption for the image"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": true,
                    "message": "Message sent successfully"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing configuration",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "Access token not configured for this account"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized due to invalid or missing Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "statusCode": 401,
                    "message": "Unauthorized: Invalid or expired token",
                    "error": "Unauthorized"
                  }
                }
              }
            }
          },
          "404": {
            "description": "WhatsApp onboarding not found for this user",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "WhatsApp onboarding not found for this user"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "status": false,
                    "message": "Failed to send message due to an unexpected error"
                  }
                }
              }
            }
          }
        },
        "security": [{ "bearer": [] }],
        "summary": "Send a WhatsApp image message",
        "tags": ["developer-apis"]
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": ["id"],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
